{% extends "admin/base_admin.html" %}

{% block admin_content %}
    <h3>Список постов</h3>
    {% if posts %}
        <table border="1" cellpadding="5" style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Заголовок</th>
                    <th>Дата</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td><a href="{{ url_for('main.view_post', slug=post.slug) }}" target="_blank">{{ post.title }}</a></td>
                    <td>{{ post.timestamp.strftime('%d-%m-%Y %H:%M') }}</td>
                    <td>
                        <a href="{{ url_for('admin.edit_post', post_id=post.id) }}"><button type="button">Редактировать</button></a>
                        <form action="{{ url_for('admin.delete_post', post_id=post.id) }}" method="post" class="delete-form" style="display: inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                           <input type="submit" value="Удалить">
                       </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Пока нет ни одного поста. <a href="{{ url_for('admin.new_post') }}">Создать первый?</a></p>
    {% endif %}
{% endblock %}