{% extends "base.html" %}

{% block content %}
    <h1 class="page-title">Последние посты</h1>
    {% if posts %}
        {% for p in posts %}
            <article class="post-preview">
                <h2><a href="{{ url_for('main.view_post', slug=p.slug) }}" class="post-title">{{ p.title }}</a></h2>
                <div class="post-meta-extra">
                    <span class="post-meta">Опубликовано: {{ p.timestamp.strftime('%d-%m-%Y %H:%M') }}</span>
                     <span class="post-stats">
                            <span class="stat-item views-count" title="Просмотры">
                                👁️ {{ p.views or 0 }}
                            </span>
                            <span class="stat-item likes-count" title="Лайки">
                               ❤️ {{ p.likes or 0 }}
                            </span>
                        </span>
                </div>

                {% if p.preview_html %}
                    <div class="post-preview-content">
                        {{ p.preview_html | safe }}
                    </div>
                {% endif %}

                <p style="clear: both; margin-top: 1em;">
                    <a href="{{ url_for('main.view_post', slug=p.slug) }}">Читать дальше =></a>
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>Пока здесь нет ни одного поста</p>
    {% endif %}
{% endblock %}
